@font-face {
    font-family: "LEMON MILK";
    src: url(font/LEMONMILK-Light.otf);
}

@font-face {
    font-family: "Balance";
    src: url(font/Balance\ Groovy\ -\ Groovy.ttf);
}

@font-face {
    font-family: "xd";
    src: url(font/ZTFloogn-ExtraBold.ttf);
}

.ft{
   color: goldenrod;
   text-align: center;
}

.c{
    font-family: "xd";
    color: black;
    text-align: center;
}

.bl{
    color: rgb(255, 222, 7);
   font-family: "xd";
   text-align: center;
   font-size: medium;
}


.cent{
    text-align: center;
}

.tabli{
    width: 60px;
    height: 60px;
    text-align: center;
}

.im{
    border: 300px;
    border-color: goldenrod;
    width: 300px;
    text-align: center;

    align-items: center;
}

.col{
    background-color: rgb(32, 150, 218);
}

.im1 {
    text-align: center; /* Centra el contenido dentro de .im horizontalmente */
  }
  
  .card {
    display: inline-block; /* Permite que la tarjeta se centre horizontalmente */
    text-align: left; /* Restaura el texto alineado a la izquierda dentro de la tarjeta */
  }
  
  /* styles.css */

.center-table {
    margin: 0 auto;
  }
  
.bc{
    background: rgb(215,220,255);
background: linear-gradient(90deg, rgba(215,220,255,1) 0%, rgba(253,255,255,1) 34%, rgba(203,255,255,1) 58%, rgba(151,228,255,0.8996848739495799) 100%);

}


/* styles.css */

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px; /* Espacio debajo del contenido */
  }
  
  .custom-card {
    width: 200px; /* Ancho de las tarjetas */
    height: 450px; /* Altura de las tarjetas */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(133, 212, 255);
  }
  
  .card-image img {
    width: 100%; /* Ajusta el tamaño de la imagen */
    border-radius: 8px 8px 0 0; /* Ajusta la esquina superior de la imagen */
  }
  
  .card-content {
    font-family: Arial, sans-serif;
  }
  
  .card-link {
    margin-top: auto; /* Empuja el enlace hacia la parte inferior */
  }
  
  .blue {
    color: rgb(232, 232, 255);
    text-align: center;
  }
  
  .font-text {
    margin: 5px 0;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  

  